# assume torch is already installed

# (optional) nerfacc for torch version rasterization
# git+https://github.com/nerfstudio-project/nerfacc

viser
nerfview==0.0.2
imageio[ffmpeg]
numpy==1.26.4
scikit-learn
tqdm
torchmetrics[image]
opencv-python
tyro
Pillow
tensorboard
